*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* makes Open Sans from google fonts the default (elements don't inherit font settings */
html, input, textarea, button{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.wrapper{
    margin: 0px auto;
    max-width: 1200px;
}
.container{
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-size: 4.5rem;
    line-height: 7rem;
    font-weight: 700;    
}
h2{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
}
h3{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}
h4{
    font-size: 1.1rem;
    font-weight: 700;
}
p{
    margin-top: 0.8rem;
    font-size:1rem;
    line-height: 1.5rem;

    /* text-indent: 10px; */
    font-weight: 400;
}
a{
    font-weight: 600;
}

button{
    font-size: 1.5rem;;
    font-weight: 600;
    background-color: #222222;
    color: white;
    border: 0;
    padding: 2rem;
}
i{
    font-size: 2rem;
}
label{
    line-height:2 ;
}
input{
    font-size: 1.2rem;
    line-height: 2rem;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/******* section 1:Header - logo, navigation and search bar ******/
/** Header with vertical flex-vertical to devide vh between welcom area and navigation area*/
header {
    background-color: #222222; 
    display: flex;
    flex-direction: column;
}
header .navigation{
    width: 100%;
}
header .welcome{
    flex-grow: 1;
    width: 100%;
}


.navigation{
    display: flex;
    flex-direction: column;
}
.logo{
    background-color:#c78c06;
    padding: 0.5vh 0;
}
nav{
    background-color:#222222;

}
.search {
    flex-grow: 1;
    background-color: #222222;
    text-align: center;
}
.logo img{
    height: 4rem;

}
nav >.container,form {padding: 0;}
nav ul li{
    display: inline-block;
    width: 100%;
    text-align: center;
}
 nav ul li a {
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c78c06;
    font-size: 1rem;
}
nav ul li:nth-child(1) a{
    background-color: #c78c06;
    color: #222222;
}

/* search bar same size as magnifier button */
.search {
    flex-direction: row;
    font-size: 0px;
}
.search  button{
    border: 0;
    padding: 0;
    font-size: 0;
    font-weight:0;
}
.search  button i{
    padding: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
    border: 1px solid #c78c06;
    color: #c78c06;
    background-color: #222222;
}

.search  input {
    font-size: 1.4rem;
    line-height: 2rem;
    height: 2rem;
    border: 1px solid transparent;
    flex-grow:1;
}


/* welcome page*/
.welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome > div{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 3rem;
}
.welcome button{
    background-color: #c78c06;
    color: #222222;
}
/*********************************************************/
#aboutus{
    background-color: #FFE6AC;
}
#aboutus img{
    width: 100%
}
/*********************************************************/
.service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.service > .container{
    flex-grow: 1;
}

#services .service {
    background-color: #ffe6ac;
}
#services > .wrapper > .service > img {
    width: 100%;
    size: cover;
}
.vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: #fff;
}
.vision button{
    background-color: #13263F;
    color: #fff;
    border: 1px solid #c78c06;
}
/*********************************************************/

.member{
    margin-bottom: 10px;
}
#team > .wrapper > .member {
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
}
#team > .wrapper > .member> img {
    width: 100%;
    size: cover;
}
#team > .wrapper > .member > .container >h4{
    border-bottom: 3px solid #c78c06;
}
/*********************************************************/

#contact input, #contact textarea{
    width: 100%;
}
label{color: black;}

#contact button{
    padding: 0% 5px;
    border: 0;
    color: #c78c06;
}

thead{
    background-color:#FFE6AC ;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
table caption{
    text-align: left;
}
table tr{
    line-height: 3rem;
}
tbody tr{
    text-indent: 10px;
    text-align: left;
}
iframe{
    width: 100%;
    flex-grow: 1;
}
/*********************************************************/

footer{
    background-color: #222222;
    color: #c78c06;
}
footer a{
    color: #c78c06;
}
 /********************************************************/
 /******************Media query***************************/
 @media screen and (min-width: 760px){
.navigation{
        flex-direction: row;
        align-items: center;
        justify-content: center;}
.navigation ul{flex-direction: row;}
.logo{flex-grow: 1; background-color:#222222;}
nav{flex-grow: 5;}
.search{flex-grow: 2;}

#aboutus > .container{
        flex-direction: row;
    }
#aboutus > .container > div{
        width: 50%;
    }
#aboutus img{  
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services > .container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "s1 s1 s1 s2 s2 s2"
    "s3 s3 s4 s4 s5 s5";
    column-gap: 2vw;
}
#services >.container >.service:nth-child(1){grid-area: s1;}
#services >.container >.service:nth-child(2){grid-area: s2;}
#services >.container >.service:nth-child(3){grid-area: s3;}
#services >.container >.service:nth-child(4){grid-area: s4;}
#services >.container >.service:nth-child(5){grid-area: s5;}
.service button{width:100%}
#team > .wrapper > .member:nth-child(2) {
    flex-direction: row;
    margin: 0;
 }
 #team > .wrapper > .member:nth-child(3) {
    flex-direction: row-reverse;
 }
 #team > .wrapper > .member> img {
    width: 50%
 }

.member > .container{
    justify-content:flex-start;
 }
 #team > .container{
    row-gap: 0px;
}
 #contact >.wrapper > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "m1 l1"
    "ho ho";
    column-gap: 2vw;
 }

 #contact .wrapper .container .message{grid-area: m1;}
 #contact .wrapper .container .location{grid-area: l1;}
 #contact .wrapper .container .hours{grid-area: ho;}
}