*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* makes Open Sans from google fonts the default */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.wrapper{
    margin: 0px auto;
    max-width: 1200px;
}
.container{
    padding: 2vw;
}
h1 {
    font-size:2rem ;
    font-weight: bold;
}
h2{
    margin-top: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size:1rem;
}
button{
    background-color: #222222;
    color: white;
    height:40px;
    border: 0;
    margin-bottom: 0%;
    padding: 0% 5%;
    font-size: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/******* section 1:Header - logo, navigation and search bar ******/
/** Header with vertical flex-vertical to devide vh between welcom area and navigation area*/
header {
    height: 100vh;
    min-height: 550px;
    min-width: 250px;
    background-color: #222222; 
    display: flex;
    flex-direction: column;
}
header .navigation{
    height: 46%;
    width: 100%;
}
header .welcome{
    flex-grow: 1;
    width: 100%;
}


.navigation{
    display: flex;
    flex-direction: column;
}
.logo{
    height: 30%;
    background-color:#c78c06;
    padding: 0.5vh 0;
}
nav{
    height: 62%;
    background-color:#222222;
}
.search {
    flex-grow: 1;
    background-color: #222222;
    text-align: center;
}
.logo img{
    height: 90%;
}
nav ul{
    height: 100%;
}
nav ul li{
    display: inline-block;
    height: 20%;
    width: 100%;
    text-align: center;
}
 nav ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c78c06;
    font-size: 0.5rem;
}
nav ul li:nth-child(1) a{
    background-color: #c78c06;
    color: #222222;
}

/* search bar same size as magnifier button */
.search {
    display: flex;
    font-size: 0px;
}

.search  button {
    font-size: 0.7rem;
    line-height: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 0px 0px;
    border: 1px solid #c78c06;
    color: #c78c06;
    background-color: #222222;
}
.search  input {
    font-size: 0.7rem;
    line-height: 100%;
    height: 100%;
    border: 1px solid transparent;
    flex-grow:1;
}


/* welcome page*/
.welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome > div{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 75%;
    padding: 2%;
}
.welcome .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome h1{
    font-size: 2.25rem;
    margin-top: 3vh
}
.welcome button{
    font-size: 0.8rem;
    background-color: #c78c06;
    color: #222222;
}
/*********************************************************/
#aboutus{
    min-height: 30rem;
    background-color: #FFE6AC;
}
#aboutus img{
    width: 100%
}
/*********************************************************/

#services > .container{
    min-height: 160rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service{
    min-height: 32rem;
    margin-bottom: 2vh;
}
.service > .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services > .wrapper > .service {
    background-color: #ffe6ac;
}
#services > .wrapper > .service > img {
    width: 100%;
    size: cover;
}
.vision{
    background-image: url(../images/vision.jpg);
    background-size: 100%;
    color: #fff;
}
.vision > .wrapper > .container> button{
    background-color: #13263F;
    color: #fff;
    border: 1px solid #c78c06;
}
/*********************************************************/

.member{
    margin-bottom: 10px;
}
#team > .wrapper > .member {
    background-color: #ffe6ac;
}
#team > .wrapper > .member> img {
    width: 100%;
    size: cover;
}
#team > .wrapper > .member > .container >h3{
    border-bottom: 1.5px solid #c78c06;
}
/*********************************************************/

#contact form label,#contact form input,#contact form textarea {
    display: block;
    width: 100%;
}
#contact form input:nth-child(9){
    width: 20%;
}
iframe{
    width: 100%;
}
/*********************************************************/

footer{
    background-color: #222222;
    color: #c78c06;
}
footer a{
    color: #c78c06;
}
